/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: 'norse-bold';
    src: url('./fonts/Norse-Bold.woff2') format('woff2');
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sidebar {
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    color: white;
    height: 100vh;
    width: clamp(200px, 50%, 600px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    
.sidebar a {
color: white;
}

.logo-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'norse-bold';
    font-size: 4rem;
    position: relative;
    top: 18vh;
}

.logo-img {
    max-height: 5rem;
}

.credit {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.7rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: max(calc(100vw - 400px), 50%);
    background-color: #eff0f2;
}

.main-content header {
    font-size: 1.4rem;
    line-height: 1.1;
    font-weight: bold;
    height: calc(18vh + 6rem);
}

.main-content header p {
    padding: 1rem 0;
    max-width: 58ch;
}

.main-content header p:first-of-type {
    margin-top: 1.5rem;
}

.main-content header,
.main-content footer {
    padding: 2rem;
}

.form-box {
    background-color: white;
    padding: 2rem;
    box-shadow: 10px 10px 20px rgb(0, 0, 0, 0.1);
}

.form-box p {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.form-row {
    display: flex;
    gap: 4rem;
    margin: 1rem 0;
}

.form-row label {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 0.8rem;
    letter-spacing: 0.2ch;
}

.form-row input {
    border: 1px solid #E5E7EB;
    border-radius: 5px;
}

.form-row input:invalid {
    outline: 1px solid red;
}

.form-row input:focus {
    outline: 1px solid blue;
    box-shadow: 3px 3px 2px rgb(0, 0, 0, 0.2)
}

.main-content footer button {
    background-color: #596D48;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    border: none;
    margin-top: 1rem;
}

.main-content footer a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

.main-content footer p {
margin: 2rem 0;
}