/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: 'norse-bold';
    src: url('./fonts/Norse-Bold.woff2') format('woff2');
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.sidebar {
    background-image: url('./assets/bg-image.jpg');
    background-size: cover;
    color: white;
    height: 100vh;
    width: clamp(200px, 50%, 400px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    a {
    color: white;
    }
}

.logo-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'norse-bold';
    font-size: 4rem;
    position: relative;
    top: 22vh;
}

.logo-img {
    max-height: 5rem;
}

.credit {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.7rem;
}

.main-content {
    display: flex;
    flex-direction: column;
/*     justify-content:space-between; */
    width: max(calc(100vw - 400px), 50%);
    background-color: #E5E7EB;
}

header {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 700;
    padding: 1rem 0;
    height: 22vh;

    p {
        padding: 0.3rem 0;
    }
}

.form-box {
    padding: 1rem;
    background-color: white;
}